*{
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.brand{
    width: 10%;
    float: left;
}header{
    text-transform: uppercase;
    width: 1000%;
}
.container{

    padding: 50px 0;
    width: 1300px;
    margin-top:10px;
    float: none;
}
.nav-bar{
    width: 90%;
    float: right;
    margin: 30px 0;
}
.nav-bar ul{
    list-style: none;
    float: right;
    text-decoration: none;
}

.nav-bar ul{
    list-style: none;
    float: right;
    text-decoration: none;}
.nav-bar ul li{
    list-style: none;
    display: inline-block;
}
.nav-bar ul li a{
    color: #333;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px 20px; 
}
.nav-bar ul li a :hover{
    background-color: #333;
    color: #fff;
}
.column-2{
    width: 50%;
    height: 400px;
    float: left;
    padding: 5px;
}
.container1{
    margin-top: 50px;
    margin-left: auto;
    width: 1200px;
    background: pink;
    margin-right: auto;
    overflow: hidden;
}
.bg-blu{
    background:orange ;
    height: 400%;

}